<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - moment1.1_razor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/moment1._1_razor.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body>
    <header class="navbar navbar-expand-sm navbar-light bg-light w-100 border-bottom shadow">
        <div class="container d-flex justify-content-between align-items-center m-0 w-100">
            <!-- Logotyp till vänster -->
            <a class="logo navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/logotyp_mom1.svg" alt="logotyp" class="mr-3 shadow" style="height: 80px;" />
                moment1.1_razor
            </a>

            <!-- Datum och tid till höger -->
            <div class="text-right">
                <p class="mb-0 border border-2 p-2">Dagens datum är: @DateTime.Now.ToShortDateString()</p>
                <p class="mb-0 p-2">Tid: @DateTime.Now.ToShortTimeString()</p>
            </div>
        </div>
    </header>
    <div class="container-fluid mt-4">
        <div class="row m-4">
            <!-- Sidebar -->
            <aside class="col-md-4 col-lg-2 m-4">
                <nav class="navbar navbar-light border border-3 bg-light shadow">
                    <div class="container d-flex flex-column align-items-center">
                        <div class="w-100">
                            <ul class="navbar-nav flex-column w-100">
                                <li class="nav-item border border-2 mb-2 mt-2 bg-white">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item border border-2 mb-2 mt-2 bg-white">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                                </li>
                                <li class="nav-item border border-2 mb-2 mt-2 bg-white">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/About">Om</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </aside>

            <!-- Main innehåll -->
            <main role="main" class="col-md-8 col-lg-9 pb-3 m-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer d-flex justify-content-center p-4">
        <div class="footer-cont border border-2 p-3 text-center w-100">
            &copy; 2024 Av Linda Götenmark - Kontakta mig via e-post: <a href="mailto:info@example.com">ligo2200@student.miun.se</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>