/* _content/moment1.1_razor/Pages/Shared/_Layout.cshtml.rz.scp.css */

a.navbar-brand[b-c2kbk5zuo1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-c2kbk5zuo1] {
  color: #0077cc;
}

.border-top[b-c2kbk5zuo1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-c2kbk5zuo1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-c2kbk5zuo1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
