@page
@model IndexModel
@{
    ViewData["Title"] = "Om";
}

<div class="right-content border border-2 p-3">
    <h1 class="display-4 p-2">Om skaparen av webbplatsen</h1>
    <h2 class="p-2">Linda Götenmark</h2>
    <p class="p-2">Mitt namn är Linda Götenmark och jag läser webbutvecklingsprogrammet på Mittuniversitetet i Sundsvall. 
        Nu är utbildningen snart slut och jag ser framemot att få börja mitt nya yrkesliv som webbutvecklare. 
        Livet har inte alltid varit enkelt under dessa terminer när familjen ska roddas samtidigt som intensiva perioder av studier går i vågor och man praktiskt taget lever framför datorn.
        Även om livet inte alltid varit så enkelt har jag tyckt väldigt mycket om att få lära mig nya saker. 
        Nya programspråk, nya ramverk. Det är sjukt tufft att pressa in så mycket information på kort tid, men det är också roligt! Och lite stressande. 
        Men mest kul att få lära sig något som jag aldrig hade trott att jag skulle få möjligheten till att göra.
    </p>
    <img src="~/selfie1.0.webp" alt="bild på Linda" class="selfie rounded mx-auto d-block img-fluid img-thumbnail mt-5 mb-5 shadow">
</div>
