@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="right-content border border-2 p-3">
    <h1 class="display-4 p-2">Välkommen</h1>
    <p class="p-2">Jag kom inte riktigt på något bra innehåll på den här sidan, men sen slog det mig att jag såklart
        måste presentera de kommande nytillskotten!</p>
    <div class="catcontainer d-flex flex-column flex-md-row justify-content-center">
        <div class="fridolf text-center shadow mb-5 mb-md-0">
            <img src="~/fridolf.webp" alt="Bild på brunmitted ragdoll-kattunge"
                class="rounded mx-auto d-block img-fluid img-thumbnail">
            <p>Det här är lille Fridolf.</p>
        </div>
        <div class="bosse text-center shadow">
            <img src="~/bosse.webp" alt="Bild på blåtabby mitted ragdoll-kattunge"
                class="rounded mx-auto d-block img-fluid img-thumbnail">
            <p>Det här är Bosse.</p>
        </div>
    </div>
    <p class="p-2 mt-4">Dessa små godingar ska få komma hem och bo hos oss efter 6:e februari! Fridolf är en brun mitted
        ragdoll och Bosse är en blå tabby mitted ragdoll.
        Vi har införskaffat oss ett klösträd, kattungemat, en mysig liten kattbädd, toaletter och lite annat smått och
        gott som behövs såklart och en massa leksaker!
        Nu längar vi snart ihjäl oss och hoppas dagarna kan gå lite fortare.. :)</p>
    <div class="calc text-center" id="countdown">

    </div>
</div>
