@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="right-content border border-2 p-3">
    <h1 class="display-4 p-2">Välkommen</h1>
    <p class="p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Quod, modi, dolore harum officia quasi facere quibusdam minima esse incidunt deserunt repellat ad nisi quisquam eaque magnam sunt. 
        Voluptate, vero fugiat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Placeat laboriosam voluptatum delectus maxime itaque! Dolores repellendus, 
        quia id totam inventore odit mollitia magni omnis distinctio voluptatibus ratione necessitatibus nostrum eveniet. 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil voluptas numquam dolor debitis nulla ea officiis, natus, 
        error quaerat corporis autem optio amet libero. Quas corporis saepe est doloribus totam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Cum ex quam labore doloremque assumenda, quod recusandae beatae. Recusandae quae fugit sint beatae eaque optio dolorum! 
        Impedit tenetur distinctio pariatur ut!</p>
</div>

